.nav_load {
	z-index: 99;
	position: absolute;
}

.nav_show {
	margin: 10px;
}

.nav_content {
	width: 300px;
	height: 100vh;
	overflow-y: scroll;
	background-color: #222;
   	border-color: #080808;
   	color: #dFdFdF;
   	display: none;
}

.nav_content .nav_hide p {
	font-size: 18px;
	line-height: 30px;
	margin: 10px 10px 0px 10px;
}

.nav_content .nav_hide p span{
	float: right;
}

.nav_content .nav_hide p span:hover{
	cursor: pointer;
	font-size: 20px;
	color: red;
}

.nav_content .nav_photo img {
	width: 230px;
	margin: 0px 0px 0px 30px;
}

#nav_title div {
	background: none;
	border: none;
}

#nav_title .panel {
	border-bottom-style: solid;
	border-color: #aaaaaa;
	border-width: 1px;
}

#nav_title .panel p {
	color: #dFdFdF;
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	text-align: center;
}

#nav_title .panel p a {
	text-decoration: none;
}

#nav_title .panel p a:hover {
	font-size: 16px;
	color: #99ffff;
}

#nav_title .panel p a:active { 
	color: #D200D2; 
}

#nav_title .panel ol li:hover { 
	cursor: pointer;
	color: #99ffff;
}

#nav_title .panel ol li:active { 
	color: #D200D2; 
}

#nav_title span {
	margin-right: 10px;
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}
   
::-webkit-scrollbar-thumb {
	background-image: linear-gradient(45deg, Cyan 0%, Magenta 50%, Yellow 100%);
}

::-webkit-scrollbar-track {
	box-shadow: 1px 1px 5px rgba(220, 220, 220, 0.9) inset;
}

